[project]
	description = Main Manifest
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Lokesh Chamane (Nick0703)
[access "refs/for/refs/*"]
	read = group user/Lokesh Chamane (Nick0703)
	push = group user/Lokesh Chamane (Nick0703)
	label-Code-Review = -2..+2 group user/Lokesh Chamane (Nick0703)
	label-Verified = -1..+1 group user/Lokesh Chamane (Nick0703)
	rebase = group user/Lokesh Chamane (Nick0703)
	removeReviewer = group user/Lokesh Chamane (Nick0703)
	submit = group user/Lokesh Chamane (Nick0703)
[access "refs/heads/*"]
	read = group user/Lokesh Chamane (Nick0703)
	create = group user/Lokesh Chamane (Nick0703)
	push = +force group user/Lokesh Chamane (Nick0703)
	pushMerge = group user/Lokesh Chamane (Nick0703)
[access "refs/tags/*"]
	push = +force group user/Lokesh Chamane (Nick0703)
	pushTag = group user/Lokesh Chamane (Nick0703)
	pushSignedTag = group user/Lokesh Chamane (Nick0703)
